/* DEBUG START */
* {border: 0px solid black;}
/* DEBUG END */

a {
	text-decoration: none;
	color: #000000;
}

ul {
	list-style-type: none;
}

body { background: #BBBBBB; }
h1 {font-size: 60px; }
h2 {font-size: 48px; }
h3 {font-size: 36px; }
p {font-size: 20px;}

/* NAVBAR */
.navbar { 
	display: flex;
	margin: -10px 10% 20px;
	font-size: 20px;
	background: #FFFFFF;
	align-items: center;
	padding: 1px 0px;
}

.navbar .menu {
	display: flex;
	justify-content: flex-end;
	margin: 0px 20px;
}

.navbar .menu { flex: 1; }

.navItem,
.delimiter {
	font-weight: bold;
}

nav ul li { margin-right: 10px; }
.delimiter { color: #BBBBBB; }

/* SECTIONS */
.profile,
.devel,
.imagine {
	border-radius: 10px;
	background: #FFFFFF;
	margin: 0 10% 20px;
	padding: 20px 10%;
}





/* PROFILE */
.profile {
	display: flex;
	align-items: center;
}

.profile img {
	display: block;
	height: 200px;
	border-radius: 50%;
}

.profile * { margin: 0px 5px; }

.about { flex: 1; }





/* DEVEL */
.devel {
	align-items: center;
}


.devel img {
	display: block;
	margin: 0px auto;
	height: 240px;
}

.devel * {
	text-align: center;
	margin: 0px;
}






/* IMAGINE */
.imagine {
	display: flex;
	flex-direction: column;
}

.imagine h2 {
	text-align: center;
	margin: 20px auto 0px;
}

.imagine img {
	height: 240px;
}

.imagine .split {
	display: flex;
	align-items: center;
}

.split * {
	flex: 1;
	text-align: center;
}

.split img {
	display: block;
}

.drawing *,
.story * {
	margin: 5px auto;
}

.split p { font-size: 16px; }

.button {
	background: #BBBBBB;
	text-align: center;
	width: 100px;
	margin: 5px auto;
}
