/* DEBUG START */
* {border: 0px solid black;}
/* DEBUG END */

a {
	text-decoration: none;
	color: #000000;
}

ul {
	list-style-type: none;
}

body { background: #BBBBBB; }
h1 {font-size: 60px; }
h2 {font-size: 48px; }
h3 {font-size: 36px; }
p {font-size: 18px;}



/* NAVBAR */
.navbar { 
	display: flex;
	margin: -10px 10% 20px;
	font-size: 20px;
	background: #FFFFFF;
	align-items: center;
	padding: 1px 0px;
}

.navbar .menu {
	display: flex;
	justify-content: flex-end;
	margin: 0px 20px;
}

.navbar .menu { flex: 1; }

.navItem,
.delimiter {
	font-weight: bold;
}

nav ul li { margin-right: 10px; }
.delimiter { color: #BBBBBB; }



/* SECTIONS */
.mainSect {
	background: #FFFFFF;
	padding: 30px 10%;
	border-radius: 10px;
	align-items: center;
	margin: 0px 10% 20px;
}

.mainSect img {
	display: block;
	height: 200px;
	border-radius: 50%;
}

/* PROFILE */
#profile {
	display: flex;
}

.about *,
.content * {margin: 0px;}
.about { flex: 1; }



/* DEVEL */
#devel img { margin: 0px auto; }
#devel * { text-align: center; }



/* IMAGINE */
#imagine { flex-direction: column; }
#imagine h2 {
	text-align: center;
	margin: 20px auto 0px;
}

.split {
	display: flex;
	align-items: flex-top;
	gap: 10px;
}

.story,
.drawing {
	flex: 1;
	flex-basis: 0;
	text-align: center;
}

.content {
	margin: 5px auto;
}

.split p { font-size: 16px; }
.content img {
	margin: 0px auto;
	border-radius: 0px;
	height: 240px;
	display: block;
}

/* MODULES */
.button {
	background: #BBBBBB;
	margin: 20px auto;
	width: 100px;
}

.sites img {
	height: 50px;
	border-radius: 50%;
}

.socials .sites {
	margin: 0px;
	display: flex;
	gap: 20px;
	justify-content: center;
}
