/* DEBUG */
* { border: 0px solid black; }
body {
	background: #666666;
	margin-top: 0px;
}


/* GLOBALS */
ul { list-style-type: none; }
a { text-decoration: none; }
hr { border: 1px solid black; }
.sect { margin: 0px 18% 20px; }

/* PROFILE */
.profile {
	display: flex;
	flex-direction: row; 
	background: #EEEEEE;
	border-radius: 10px;
}
	.about { 
		flex: 5; 
		padding: 20px;
	}
		.about * {
			margin-bottom: 20px;
		}

		.brief * { margin: 0px;}
		.brief h1 { 
			font-size: 36px; 
			margin-bottom: 0px;
		}

		.brief .desc { margin-top: -5px; }
		.brief .quote { 
			margin-top: 10px; 
			font-style: italic; 
		}
		.alette {
			height: 50px;
		}

	.pfp { 
		background: #FFFFFF;
		border-radius: 10px;
		flex: 3; 
		padding: 20px;
	}
		.pfp-img { 
			width: 250px; 
			display: block;
			margin: 0px auto;
		}
		.pfp-portrait {
			padding: 0px;
			display: flex;
			margin: 0px;
		}
		.pfp-portrait * { 
			flex: 1; 
			text-align: center;
		}
		.pfp-portrait :last-child { margin-bottom: 0px; }
	
	.alias {
		margin-top: 20px;
		margin-bottom: 5px; 
	}
	.info { 
		display: flex;
		justify-content: space-between;
		gap: 5px;
		flex-wrap: wrap;
	}
		.info * { flex: 1; }
		.info-entry  { margin: 0px; }
			.info-entry * { margin: -5px 0px; }
			.tag { 
				font-size: 24px;
				font-weight: bold; 
			}
	

	.palette-wrapper {
		background: #FFFFFF;
		display: inline-flex;
		padding: 10px;
		margin-bottom: 0px;
		border-radius: 10px;
	}
		.palette {
			height: 50px;
			width: content-fit;
			display: inline-flex;
			flex-direction: row;
			border: 1px solid black;
			margin-bottom: 0px;
		}
			.color,
			.neutral {
				margin-bottom: 0px;
			}
			.color { 
				display: flex;
				flex-direction: row;
			}
				.color * {
					height: 50px;
					width: 50px;
				}
					.c1 { background: #32AA7A; }
					.c2 { background: #EF4747; }

			.neutral {
				display: flex;
				flex-direction: column;
				gap: 0px;
			}
				.neutral * {
					height: 25px;
					width: 25px;
					margin-bottom: 0px;
				}
					.n1 { background: #686868; }
					.n2 { background: #FFFFFF; }

/* CONTENT */
.content {
	background: #EEEEEE;
	border-radius: 0 0 10px 10px;
}
	/* PROFILE-NAV */
	.content-navbar {
		background: #FFFFFF;
		border-radius: 10px;
		display: flex;
		padding: 10px 0px;
		margin: 0px;
		border-radius: 0;
		border-bottom: 1px solid black;
	}
		.content-navbar * {
			text-align: center;
			flex: 1;
		}

	.content-entries {
		padding: 20px;
	}
		.content-entry * {
			margin: 0px;
		}
		.content-entry h2 { font-size: 28px; }
		.content-entry p { margin-bottom: 25px; }
			.subcontent-entry p {
				margin-bottom: 10px;
			}
	
/* TOP NAVBAR */
.main-nav {
	align-items: flex-end;
	border-radius: 0px 0px 10px 10px; 
	color: #FFFFFF;
	display: flex;
	gap: 10px;
	font-weight: bold;
	margin-bottom: 10px;
	padding-left: 20px;
}
		.nav-left {
			flex: 0;
			font-size: 48px;
			justify-content: flex-start;
			margin: 0px;
		}

		.nav-right {
			align-items: left;
			display: flex;
			flex: 1;
			flex-direction: column;
			justify-content: flex-start;
			padding-left: 10px;
		}
			.nav-right * {
				flex: 1;
			}
			.nav-right p {
				font-size: 24px;
				margin: 10px 0px 5px;
				text-align: left;
			}

			.nav-right ul {
				display: inline-flex;
				flex-direction: row;
				margin-top: 0px;
				gap: 15px;
				padding: 0px;
			}
				.nav-right a {
					color: #FFFFFF;
				}

.filler {
	flex: 1;
}
